body{
    margin:0;
    padding:0;
    background-color: black;
}

h1{
    color:white;
    text-align: center;
}
marquee{
    color: white;
    text-align: center;
}

canvas{
    background-image: url("santiago-andres-chagueza-acevedo-TlUwpa7Kuu8-unsplash.jpg");
    background-size: 100%;
    
}

img {
height: 400px;
width: 100%;
}
